<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scalior.schedulalarmmanager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.scalior.schedulealarmmanager.ShowSchedules"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name="com.scalior.schedulealarmmanager.SAMReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.scalior.schedulealarmmanager.ALARM_TRIGGER" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.scalior.schedulealarmmanager.MyActivity"
            android:label="@string/title_activity_my" >
        </activity>
        <activity
            android:name="com.scalior.schedulealarmmanager.WeeklySchedule"
            android:label="@string/title_activity_weekly_schedule" >
        </activity>
    </application>

</manifest>
